
.header {
    align-items: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 100vw;
    height: 13vh;
    background-color: #333;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.btn-grid {
    display: grid;
    grid-template-columns: 2 auto;
    gap: 15px;
    margin-top: 20px;
    
}

.btn {
    background-color: hsl(200,100%,50%);
    border-color: hsl(200,100%,30%);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 50px;
    color: white;
    outline: none;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-hover {
    border-color: black;
}